@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.top-header-container {
    background-color: #1CD1B0;
    height: 38px;
    width: 1024;
}

.top-header-text {
    font-size: 15px;
    position: relative;
    top: 25%;
    left: 1%;
}

/* Body */

.top-body-container {
    background-color: #00669F;
    height: 101px;
    width: 1024;
}

.top-body-title {
    font-size: 40px;
    font-weight: lighter;
    position: relative;
    top: 25%;
    left: 1%;
}

/* Section Batman 01 */

.batmansegment-container-01 {
    background-color: #F3F3F3;
    width: 300px;
    height: 529px;
    position: relative;
    left: 70%;
    top: 150px;
    border-radius: 5%;
    border: solid 1px black;
}

.background-batman01 {
    background-image: url(../img/background-batman-right.png);
    width: 300px;
    height: 193px;
}

.avatar-batman {
    background-image: url(../img/batman-right.png);
    width: 122px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    bottom: 12%;
    left: 90px;
}

h2 {
    text-size: 30px;
    text-align: center;
}

.title-batman {
    width: 122px;
    height: 35px;
    position: relative;
    bottom: 25px;
    left: 90px;
}

/* Footer */