@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.top-header-container {
    background-color: #1CD1B0;
    height: 38px;
    width: 1024;
}

.top-header-text {
    font-size: 15px;
    position: relative;
    top: 25%;
    left: 1%;
}

/* Body */
h2 {
    font-size: 30px;
}

.top-body-container {
    background-color: #00669F;
    height: 101px;
    
}

.top-body-title {
    font-size: 40px;
    font-weight: lighter;
    position: relative;
    top: 25%;
    left: 1%;
}

/* Cards container */

.cards-container {
    width: 1100px;
    height: 600px;
    margin-top: 150px;
    margin-left: 350px;
    position: fixed;
}

/* Batman Card right-position */

.batmansegment-container-01 {
    background-color: #F3F3F3;
    width: 300px;
    height: 529px;
    position: absolute;
    left: 70%;
    border-radius: 5%;
    border: solid 1px black;
}

.background-batman01 {
    background-image: url(../img/background-batman-right.png);
    width: 300px;
    height: 193px;
}

.heart-vector-01 {
    position: relative;
    top: 10%;
    left: 10%;
}

.avatar-batman {
    background-image: url(../img/batman-right.png);
    width: 122px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    bottom: 12%;
    left: 90px;
}



.title-batman {
    width: 122px;
    height: 35px;
    position: relative;
    bottom: 35px;
    left: 90px;
}

.div-text-card {
    font-size: 16px;
    text-align: left;
    width: 267px;
    height: 113px;
    position: relative;
    left: 5%;
    bottom: 5%;
}

.ver-mas-container {
    background-color: #00669F;
    width: 128px;
    height: 48px;
    position: relative;
    left: 90px;
    text-align: center;
}

.ver-mas-container > span {
    color: #F3F3F3;
    font-size: 15px;
    position: relative;
    top: 25%;
}

/* Harley Quinn Card */

.hqsegment-container-02 {
    background-color: #F3F3F3;
    width: 300px;
    height: 529px;
    position: relative;
    left: 36%;
    border-radius: 5%;
    border: solid 1px black;
}

.background-hq02 {
    background-image: url(../img/background-Hq-center.png);
    width: 300px;
    height: 193px;
}

.avatar-hq {
    background-image: url(../img/Hq-avatar.png);
    width: 122px;
    height: 120px;
    border-radius: 50%; 
    position: relative;
    bottom: 12%;
    left: 90px;
}

.title-hq {
    width: 171px;
    height: 35px;
    position: relative;
    bottom: 35px;
    left: 65px;
}



/* Batman Card left-position */

.batmansegment-container-02 {
    background-color: #F3F3F3;
    width: 300px;
    height: 529px;
    position: relative;
    left: 2%;
    bottom: 530px;
    border-radius: 5%;
    border: solid 1px black;
}

/* Footer */